annotated-types==0.7.0
antlr4-python3-runtime==4.13.1
apparmor==3.1.7
apsw==3.45.2.0
argcomplete==3.1.3.dev0+g140fa51.d20240618
async-timeout==4.0.3
attrs==23.2.1.dev0
autocommand==2.2.2
beautifulsoup4==4.12.3
Brotli==1.1.0
brotlicffi==1.1.0.0
btrfsutil==6.9
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.6
css-parser==1.0.10
cssselect==1.2.0
defusedxml==0.7.1
distro==1.9.0
dnspython==2.6.1
docutils==0.21.2
fastjsonschema==2.20.0
faust-cchardet==2.1.19
feedparser==6.0.11
future==1.0.0
Glances==4.0.8
html2text==2020.1.16
html5-parser==0.4.12
html5lib==1.1
idna==3.6
ifaddr==0.2.0
inflate64==1.0.0
inflect==7.2.1
injector==0.21.0
jaraco.context==4.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jeepney==0.8.0
Jinja2==3.1.4
lensfun==0.3.4
LibAppArmor==3.1.7
libfdt==1.7.0
libvirt-python==10.4.0
lit==17.0.6.dev0
lxml==5.2.2
lxml_html_clean==0.1.1
Markdown==3.6
MarkupSafe==2.1.5
mechanize==0.4.10
more-itertools==10.2.0
msgpack==1.0.5
multivolumefile==0.2.3
netifaces==0.11.0
nftables==0.1
numpy==1.26.4
ordered-set==4.1.0
orjson==3.10.5
packaging==24.0
pdftotext==2.2.2
pid==3.0.4
pillow==10.3.0
pipx==1.6.0
platformdirs==4.2.0
powerline-status==2.8.3
psutil==5.9.8
py7zr==0.21.0
pybcj==1.0.2
pybind11==2.12.0
pycairo==1.26.1
pychm==0.8.6
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.17.2
PyGObject==3.48.2
PyOpenGL==3.1.7
pyppmd==1.1.0
PyQt6==6.7.0
PyQt6-WebEngine==6.7.0
PyQt6_sip==13.6.0
PySide6==6.7.2
python-dateutil==2.9.0
pyzstd==0.16.0
QTermWidget==2.0.0
Reflector==2023.6.28.0.36.1
regex==2024.5.15
requests==2.32.3
semantic_version==2.10.0
setuptools==69.0.3
sgmllib3k==1.0.0
shiboken6==6.7.2
shiboken6-generator==6.7.2
six==1.16.0
smbus==1.1
soupsieve==2.5
systemd-python==235
TBB==0.2
texttable==1.7.0
tomli==2.0.1
tomlkit==0.12.5
trove-classifiers==2024.5.23
typeguard==4.3.0
typing_extensions==4.12.2
ufw==0.36.2
unrardll==0.1.7
urllib3==1.26.18
userpath==1.9.2
validate-pyproject==0.16
watchdog==2.3.0
webencodings==0.5.1
wheel==0.43.0
xxhash==3.4.1
zeroconf==0.63.0
zstandard==0.22.0
